<p id="notice"><%= notice %></p>

<p>
  <strong>Period:</strong>
  <%= @income.period %>
</p>

<p>
  <strong>Value:</strong>
  <%= @income.value %>
</p>

<p>
  <strong>Product:</strong>
  <%= @income.product %>
</p>

<%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Back', incomes_path %>
